<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <title>
        Clientes
    </title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</head>

<body class="d-flex justify-content-center  h-100">
    <div class="h-100 w-100">
        <div style="display: flex;">
            <h1>Clientes</h1>
            <a href="<%= goTo %>">
                <button type="button" style="margin-left:40px;" class="btn btn-primary">
                    Adicionar
                </button>
            </a>
        </div>


        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Cpf</th>
                    <th scope="col">Visualizar</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < clients.length; i++) { %>
                    <tr>
                        <td>
                            <%= clients[i].Nome %>
                        </td>
                        <td>
                            <%= clients[i].CPF %>
                        </td>
                        <td>
                            <a href="<%= link + '/'+ clients[i].ID %>">SHOW </a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>